header.header#header
  .header__wrapper
    .header__img-left
      a(href=path+"/")
        img(src=path+"/img/logo/logo.png", alt="IT道場 開発エンジニアスクール")
    .header__list
      .header__list__item
        a(href=path+"//").text-bold メニュー
      .header__list__item
        a(href=path+"//").text-bold メニュー
      .header__list__item
        a(href=path+"//").text-bold メニュー
      .header__list__item
        a(href=path+"//").text-bold メニュー
      .header__list__item
        a(href=path+"//").text-bold メニュー
    .header__img-line.pc-only
      a(href=path+"/")
        img(src=path+"/img/page/comment.png", alt="")
        p.header__img-line__txt LINEで無料相談
  .header__toggler
    span
